@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body,
html {
    width: auto;
    background-color: #F6F6F6;
    font-family: 'Quicksand', sans-serif;
}

.container-login {
    width: 100%;
    min-height: 90vh;
}

.row {
    margin: 9% 2%;
}

.logo {
    text-align: center;
}

.logo img {
    width: 60%;
}

h6 {
    font-size: 2em;
    padding-top: 5%;
    font-weight: 800;
    text-align: center;
}

.login-btn {
    padding-top: 17%;
}

.btn {
    border-radius: 30rem;
    font-size: 1.2em;
    font-weight: 600;
}

.btn-primary {
    width: 80%;
    height: 9%;
    background-image: linear-gradient(90deg, #57aae7, #9af0f5);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}